.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px 0;
  text-align: center;
  padding: 10px;
}

.card-inner {
border: 1px solid gray;
height: 150px;

}
