.card {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 10px 0 35px;
  text-align: center;
  padding: 10px;
}

.card a {
color: white;

}

.card-inner {
border: 1px solid gray;
 background-size: cover !important;
background-position: center;
height: 30vh;

}

.card-show {
  position: absolute;
  top:15%;
}
